* {
  overflow: scroll; }

/* Colors */
/* Styles */
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: lato, 'sans-serif'; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #36597d; }

header h1 {
  color: #EEE;
  font-size: 2em;
  padding-bottom: 2px; }

h2 {
  font-size: 1.2em; }

p {
  text-align: center; }

.price {
  font-size: 2.6em; }

/***************** 
INPUT 
******************/
input {
  font-weight: bold;
  color: #ED474A;
  width: 90px;
  outline: none;
  border: none;
  background-color: #d2e4e6;
  text-align: center;
  caret-color: black;
  margin: 0 auto; }

.input-miles {
  font-size: 3em;
  background-color: #d2e4e6; }

.range {
  font-size: 2em; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ED474A;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ED474A; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ED474A; }

/***************** 
FLEXBOX
******************/
.flexbox {
  display: flex;
  flex-wrap: wrap; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.toprow {
  margin-top: 20px; }

.botrow {
  margin-top: 30px;
  width: 50%; }

.col {
  flex-direction: column;
  width: 33%; }

.row {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start; }

.ev-compare-select, .gas-compare-select {
  width: 38%;
  padding: 5px;
  flex-direction: column-reverse; }
  .ev-compare-select .select-title, .gas-compare-select .select-title {
    order: 2; }
  .ev-compare-select .select-left, .ev-compare-select .select-right, .gas-compare-select .select-left, .gas-compare-select .select-right {
    order: 1; }

@media screen and (max-width: 720px) {
  .ev-compare-select {
    align-items: center; } }

.gas-compare-select {
  align-items: flex-end; }
  @media screen and (max-width: 720px) {
    .gas-compare-select {
      align-items: center; } }

@media screen and (max-width: 720px) {
  .select-title-left {
    text-align: center; } }

.select-title-right {
  text-align: right; }
  @media screen and (max-width: 720px) {
    .select-title-right {
      margin-top: 30px;
      text-align: center; } }

.daily-commute {
  width: 24%;
  flex-direction: column; }
  .daily-commute h2 {
    text-align: center; }

.ev-row-compare {
  border-right: 5px solid #666; }

.gas-row-compare {
  border-left: 5px solid #666; }

.circle-wrapper {
  min-width: 100px;
  width: 100%;
  padding-top: 100%;
  position: relative; }

.circle, .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 5px solid #36597d;
  border-radius: 100%;
  background: linear-gradient(#fcfcfc 60%, #36597d 30%), linear-gradient(to bottom, #fcfcfc 0, #f1f1f1 100%); }

.rectangle {
  width: 70%;
  margin: 0 auto;
  border-radius: 10%; }

.EV-kwh {
  margin-top: 20px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none; }

@media screen and (max-width: 720px) {
  .toprow, .botrow {
    width: 100%; }

  .daily-commute {
    order: 1; }

  .ev-compare-select {
    order: 2; }

  .ev-row-compare {
    order: 3;
    border-right: none; }

  .gas-compare-select {
    order: 4; }

  .gas-row-compare {
    order: 5;
    border-left: none; }
    .gas-row-compare div .col3 {
      order: 3; }
    .gas-row-compare div .col2 {
      order: 2; }
    .gas-row-compare div .col1 {
      order: 1; } }

/*# sourceMappingURL=styles.css.map */
