/* Colors */
/* Styles */
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: lato, 'sans-serif'; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  background-color: #36597d; }

header h1 {
  color: #EEE;
  font-size: 2em;
  padding-bottom: 2px; }

h2 {
  font-size: 1.2em; }

p {
  text-align: center; }

/***************** 
INPUT 
******************/
input {
  font-weight: bold;
  color: #ED474A;
  width: 90px;
  outline: none;
  border: none;
  background-color: #d2e4e6;
  text-align: center;
  caret-color: black;
  margin: 0 auto; }

.input-miles {
  font-size: 3em;
  background-color: #d2e4e6;
  padding-bottom: 10px; }

.range {
  font-size: 2em; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ED474A;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ED474A; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ED474A; }

/***************** 
FLEXBOX
******************/
.container {
  flex-direction: column; }

.box0 {
  padding-top: 30px;
  text-align: center; }
  .box0 p {
    font-size: .8em; }
  .box0 .daily-miles {
    position: relative;
    bottom: 8px;
    background-color: white; }

.blue {
  outline: 2px solid blue; }

.red {
  outline: 2px solid red; }

.green {
  outline: 2px solid green; }

.gray {
  outline: 2px solid gray; }

.box1 {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px; }

.select {
  height: 40px; }

.select-title {
  margin: 10px 20px; }

.select-left {
  justify-content: flex-start;
  margin-left: 20px; }

.select-right {
  justify-content: flex-end;
  margin-right: 20px; }

.select-right-title {
  text-align: right; }

.container {
  max-width: 1400px;
  min-width: 540px;
  margin: 0 auto; }

.flexbox {
  display: flex; }

.col {
  flex-direction: column;
  flex-grow: 1; }

.row {
  flex-direction: row;
  flex-grow: 1; }

@media screen and (max-width: 930px) {
  .center-box {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    min-width: 80%; } }

.bigbox {
  flex-direction: row; }
  @media screen and (max-width: 930px) {
    .bigbox {
      flex-direction: column; } }

.innerbigbox {
  width: 100%; }

.bb-left {
  border-right: 8px solid #666; }
  @media screen and (max-width: 930px) {
    .bb-left {
      border-right: none; } }
  .bb-left .row1 .col3 {
    margin: 10px;
    background-color: #ECECEC; }
    .bb-left .row1 .col3 .price {
      font-size: 2em; }

.bb-right {
  border-left: 8px solid #666; }
  @media screen and (max-width: 930px) {
    .bb-right {
      border-left: none; } }
  .bb-right .row1 .col3 {
    margin: 10px;
    background-color: #ECECEC; }
    .bb-right .row1 .col3 .price {
      font-size: 2em; }
    @media screen and (max-width: 930px) {
      .bb-right .row1 .col3 {
        order: 2; } }
  @media screen and (max-width: 930px) {
    .bb-right .row1 .col2 {
      order: 1; } }
  .bb-right .row2 {
    margin: 10px;
    background-color: #ECECEC; }

.circle-wrapper {
  min-width: 100px;
  width: 100%;
  padding-top: 100%;
  position: relative; }

.circle, .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 5px solid #36597d;
  border-radius: 100%;
  background: linear-gradient(#fcfcfc 60%, #36597d 30%), linear-gradient(to bottom, #fcfcfc 0, #f1f1f1 100%); }

.rectangle {
  width: 70%;
  margin: 0 auto;
  border-radius: 10%; }

.EV-kwh {
  margin-top: 20px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none; }

/*# sourceMappingURL=styles.css.map */
